<div [hidden]="display">
    <div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-responsive">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h1>{{planet[pNr].name}}</h1>
        </div>
    </div>
</div>

<ul class="list-group list-group-flush">
    <li class="list-group-item d"><strong>Rotation Period:</strong> {{planet[pNr].rotation_period}}</li>
    <li class="list-group-item d"><strong>Orbital Period: </strong> {{planet[pNr].orbital_period}}</li>
    <li class="list-group-item d"><strong>Diameter: </strong> {{planet[pNr].diameter}}</li>
    <li class="list-group-item d"><strong>Climate: </strong> {{planet[pNr].climate}}</li>
    <li class="list-group-item d"><strong>Gravity: </strong> {{planet[pNr].gravity}}</li>
    <li class="list-group-item d"><strong>Terrain: </strong> {{planet[pNr].terrain}}</li>
    <li class="list-group-item d"><strong>Surface Water: </strong> {{planet[pNr].surface_water}}%</li>
    <li class="list-group-item d"><strong>Population: </strong> {{planet[pNr].population}}</li>
</ul>

<!--div class="row">
        <div class="col-xs-12">
            <h1>{{planet[pNr].name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{planet[pNr].name}}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            sdasd
        </div>
    </div-->
